@keyframes inOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

body {
  margin: 0;
  font-family: "Dancing Script", cursive, "Caveat", cursive, "Sevillana",
    cursive, "Times New Roman", Times, serif;
  text-align: center;
  background: linear-gradient(
    to right,
    white 0%,
    #f9e4bc 15%,
    #f9e4bc 85%,
    white
  );
}

::selection {
  color: white;
  background-color: goldenrod;
}

.loading-notifications {
  color: black;
  font-size: 24pt;
  animation: inOut 1s linear infinite;
}
